@use './reset.scss' as *;
@use './variables.scss' as *;

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--el-bg-color-page);
  font-size: var(--el-font-size-medium);
  color: var(--el-text-color-primary);
  &,
  html,
  #app,
  .container {
    height: 100%;
  }
}

a {
  color: var(--el-color-primary);
}
